:root {
    --cabecalho: #3B1E54;
    --fundo: #9B7EBD;
    --letras: #EEEEEE;
}
menu {
    color: var(--letras);
}
a {
    text-decoration: none;
}
body {
    background-color: var(--fundo);
}
header {
    display: flex;
    width: 100%;
    background-color: var(--cabecalho);
    padding: 1rem;
    position: relative;
    justify-content: center;
    top: 0;
    left: 0;
}

