:root {
    --cabecalho: #3B1E54;
    --fundo: #9B7EBD;
    --letras: #EEEEEE;
}
menu {
    width: 20%;
    display: inline-block;
}
.botaodis {
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--fundo);
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--letras);
}
a {
    text-decoration: none;
    color: var(--letras);
}
body {
    background-color: var(--fundo);
}
header {
    display: flex;
    width: 100%;
    background-color: var(--cabecalho);
    padding: 1rem;
    position: relative;
    justify-content: center;
    margin: -1%;
}

